{% load static%}
{% static "" as baseurl %}
<!doctype html>
<html class="no-js" lang="zxx">
<head>
<link rel="shortcut icon" type="image/x-icon" href="{{baseurl}}as/img/favicon.png">
<link rel="stylesheet" href="{{baseurl}}as/css/bootstrap.min.css">
<link rel="stylesheet" href="{{baseurl}}as/css/themify-icons.css">
<link rel="stylesheet" href="{{baseurl}}as/css/style.css">
<link rel="stylesheet" href="{{baseurl}}as/css/bg.css">
</head>
<body>
<header>
<div class="header-area ">
<div id="sticky-header" class="main-header-area">
<div class="container-fluid p-0">
<div class="row align-items-center no-gutters">
<div class="col-xl-2 col-lg-2">
</div>
<div class="col-xl-7 col-lg-7">
<div class="main-menu  d-none d-lg-block">
<nav>
<ul id="navigation">
<li><a>Contact Us<i class="ti-angle-down"></i></a>
<ul class="submenu">
<li><a>Yash  +918445349293</a></li>
<li><a>Shashwat  +918273999473</a></li>
</ul>
<li><a class="active">About Us</a></li>
</ul>
</nav>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                            <div class="log_chat_area d-flex align-items-center">
                                                               </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

    <!-- bradcam_area_start -->
    <div class="bradcam_area breadcam_bg overlay2">
        <h3>About Us</h3>
    </div>
    <!-- bradcam_area_end -->
    <div class="about_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
  

<div class="about_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <h3 class="about_title text-center">
              <center>  <h1><u>        Welcome To  Busgo.in</u></h1><br><h3>
India's Leading Bus Service Provider...</h3>
           </center>    <br><br> </div>
            </div>
            <div class="row mb-60">
                <div class="col-xl-6">
                    <p>This website was created jointly by <u><font color="
#000080">Yash Saxena</font></u> and <u><font color="
#000080">Shashwat Ajay</font></u> of class XII-A of G.R.M. School, Bareilly as a part of computer project given by <u><font color="
#FFD700">Anil Sir</font></u> as per the guidelines issued by Central Board of Secondary Education.</p>
                </div>
                <div class="col-xl-6">
                    <p>This project of Bus Management System website entitled "Busgo.in
" after its creators is made on Python based website-framework 'Django' with MySQL as background database.</p>
</div></div></div>
<br>
<center><h1><b><u>Our Features</u></b></h1></center>
<br><br>
<div class="info">
<center><h4>Manage Routes & Schedules</h4></center>
<br>
<center><img src="{{baseurl}}as/img/1.png"></center>
<br>
<center>
<p>One can add all bus route start and end points (cities, locations, etc.) one's company serves. Manage bus schedules. Set recurring time plans for each day of the week.</p>
</center>
<br><br>
<center><h4>Set Ticket Types & Prices</h4></center>
<br>
<center><img src="{{baseurl}}as/img/2.png"></center>
<br>
<center>
<p>From each bus profile one can add different ticket types - children, adults, pensioners, students, etc., and set standard and custom ticket prices (round-trip, special discounts).</p>
</center>
<br><br>
<center><h4>Add Bus Types & Seat Maps</h4></center>
<br>
<center><img src="{{baseurl}}as/img/3.png"></center>
<br>
<center>
<p>One can create multiple bus profiles containing interactive seat maps so that your customers can easily pick their preferred seats in advance.
</p>
<br><br>
<center><h4>Manage Bus Bookings</h4></center>
<br>
<center><img src="{{baseurl}}as/img/4.png"></center>
<br>
<center>
<p>One can review all bus ticket reservations in one place. See customer details. Set automatic status depending on payment. Add reservations manually.
</p>
</center>
<br><br>
<center><h4>Customize Bus Tickets</h4></center>
<br>
<center><img src="{{baseurl}}as/img/5.jpg"></center>
<br>
<center>
<p>One can create a personalized bus ticket layout by adding it's company brand elements, and a designated place for trip, customer, and booking details using a handy HTML and CSS editor.
</p>
</center>
<br><br>
<center><h4>
Take Payments Online</h4></center>
<br>
<center>
<center><img src="{{baseurl}}as/img/6.png"></center>
<br>
<p>One can have a wide choice of built-in payment gateways as well as the classic wire transfer and cash payments. Make it convenient for your customers!
</p>
</center>
</div>
<br><br><br><br><br>
<center>
<h1>With Regards...</h1><br>
<h3>Website Authors</h3>
</center>
<br><br>
<center>
<table>
<!-- <tr>
<td colspan=2><center><img src="{{baseurl}}as/img/s1.jpg"></center></td>
<td></td><td></td><td></td>
<td colspan=2><center><img src="{{baseurl}}as/img/s2.jpg"></center></td>
</tr> -->
<tr>
<br><br>
</tr>
<tr>
<td colspan=2><center><h4><u><font color="black">Yash Kamal Saxena</font></u></h4></center></td>
<td></td><td></td><td></td>
<td colspan=2><center><h4><u><font color="black">Shashwat Gupta</font></u></h4></center></td>
</tr>
</table>
</center>
<br><br><br><br>
<h2>Copyright ©2019 Busgo.in | All rights reserved</h2> 
<br><br> 

</body>


</html>