{% load static%}
{% static "" as baseurl %}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    
    <!-- //Meta tag Keywords -->
	 <link rel="stylesheet" href="{{baseurl}}forpass/css/register.css" type="text/css" media="all" /><!-- Style-CSS -->
</head>
<body>
   <!-- /form-26-section -->
   <section class="form-26-1">
         <div class="form-26-mian">
				<div class="layer">
			<div class="wrapper">
			<div class="form-inner-cont">
					<div class="forms-26-info">
						<h2>Forgot Password</h2>
                        
                    </div>
					<div class="form-right-inf"> 
							<form action="Forpass" method="post" class="signin-form">
{% csrf_token %}	
<br><br><br><br>
							 <div class="forms-gds">
								 <div  class="form-input">
									<input type="text" name="name" placeholder="Your Name" value="{{t.0}}" required />
								</div>
								<div  class="form-input">
										<input type="text" name="id" placeholder="Your Email" value="{{t.2}}" required />
									</div>
								<div  class="form-input">
									<input type="text" name="Phno" placeholder="Your Phone Number" value="{{t.1}}" required />
								</div>
								<div  class="form-input">
									<input type="password" name="pass" placeholder="New Password" required />
								</div>
								<div  class="form-input">
									<input type="password" name="cpass" placeholder="Confirm Password" required />
								</div>




								<div  class="form-input"><button class="btn">Change Password</button></div>
							</div>
							<br><br>
						<center><h2><font color="White">{{note}}</font></h2></center>
						</form>
						
                    </div>
					<div class="copyright text-center">
                    <p style="color:white;">Copyright 2019 Busgo.in | All rights reserved</p>
                </div>
                </div>
			</div>
		</div>
		    </div>
		</section>
      <!-- //form-26-section -->
</body>
</html>