{% load static%}
{% static "" as baseurl %}

<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
   
<link rel="shortcut icon" type="image/x-icon" href="{{baseurl}}payment/img/favicon.png">
   <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
   
<link rel="stylesheet" href="{{baseurl}}payment/css/bootstrap.min.css"> <link rel="stylesheet" href="{{baseurl}}payment/css/themify-icons.css">
<link rel="stylesheet" href="{{baseurl}}payment/css/style.css">
  
<link rel="stylesheet" href="{{baseurl}}payment/css/des.css">
</head>


<body>
   
<!--[if lte IE 9]>
            
!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
          
      <div class="container-fluid p-0">
                
    <div class="row align-items-center no-gutters">
                    
    <div class="col-xl-2 col-lg-2">
                    
                                </div>
                        <div class="col-xl-7 col-lg-7">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
               <li><a href="#">Contact Us<i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a>Yash  +918445349293</a></li>
                                                <li><a>Shashwat  +918273999473</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#"></a>
                                            <ul class="submenu">
                                                <li><a href="#">elements</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#"></a></li>
                                        

<li></li>                                        <li><a href="{% url 'about_us' %}">About Us</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                            <div class="log_chat_area d-flex align-items-center">
                                                               </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

    <!-- bradcam_area_start -->
    <div class="bradcam_area breadcam_bg overlay2">
        <h3>Payment</h3>
    </div>
    <!-- bradcam_area_end -->
    <div class="about_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
  




<form action="pay" method="POST">
{%csrf_token%}
<center>
<table class="table1">
    {% for i,j in mains%}
    <tr>
    <td>{{i}}</td>
    <td>{{j}}</td>
    </tr>
    {% endfor %}
</table>
</center>
<br><br><br><br><br><br>

<center>
<table class="table2">
<tr><th colspan=2>Payment</th></tr>
<tr>
<td>
<input type="text" name="Accno" placeholder="Enter Account Number" required>
</td>
</tr>
<tr>
<td>
<input type="password" name="Pass" placeholder="Enter Password" required>
</td>
</tr>
<tr>
<td>
<input type="submit" value="Pay">
</form>
</td>
</tr>
<tr>
<td>{{note1}}</td>
</tr>
<tr>
<td>{{note2}}</td>
</tr>
<tr>
<td>
{%if note2%}
</td>
</tr>
<tr>
<td>
<form action="cancelticket">
<input type="Submit" value="Cancel ticket/Back to Profile">
</form>
</td>
{% endif %}
</tr>
</table>
</center>
<br><br><br><br>
<h2>Copyright ©2019 Busgo.in | All rights reserved</h2>  

</body>


</html>